<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <section class="container1">
            <div class="Logo">
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo"></a>
            </div>
            <div class="search-bar">
                <div id="barra-busqueda">
                    <p>Buscar productos, marcas</p>
                </div>
                <div id="lupa"><i class="fa-solid fa-magnifying-glass"></i></div>
            </div>
            <div id="cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h3>Compra en cuotas y sin tarjeta de crédito</h3>
            </div>
        </section>
        <nav>
            <section class="nav-bar">
                <ul>
                    <li><a href= "#" >Ofertas</a></li>
                    <li><a href= "#" >Tiendas oficiales</a></li>
                    <li><a href= "#" >Vender</a></li>
                    <li><a href= "#" >Ayuda</a></li>
                </ul>
            </section>
            <section class="login-bar">
                <ul>
                    <li><a href= "register" >Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                    <li><a href= "login" >Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href= # >Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </section>
        </nav>
        <section>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </section>
        <div class="banner">
            <img src="images/img-home-banner.jpg" alt="banner">
        </div>
    </header>
<body>
    <form action="login" method="POST">
        <div class="form__container">
            <div class="form__field">
                <input type="text" name="user" class="control" required placeholder="Nombre de usuario">
            </div>
            <div class="form__field">
                <input type="password" name="password" class="control" required placeholder="Contraseña">
            </div>
            <button type="submit" class="form__btn">Enviar</button>
        </div>
    </form>
    <footer>
        <section>
            <div class="icon"><i class="fa-solid fa-credit-card"></i></div>
            <h4>Pagá con tarjeta o efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin</p>
            <p>interés con tarjeta o efectivo en puntos de</p>
            <p> pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div class="icon"><i class="fa-solid fa-gift"></i></div>
            <h4>Envío gratis desde los $2500</h4>
            <p>Sólo por estar registradoen MercadoLiebre</p>
            <p>tenés envíos gratis en miles de productos. Es</p>
            <p>un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div class="icon" ><i class="fa-solid fa-user-shield"></i></div>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre</p>
            <p>no hay nada que no puedas hacer porque</p>
            <p>estás siempre protegid@.</p>
        </section>
        <section id="copyright">
            <p>Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>